.pages-home
  Loader(v-show='loading')
  Header(:props='props')  
  div(v-if='props && !loading')
  .hero-banner-section
    .container
      .col6
        h1
          | We Offer Braces
          br
          | and Invisalign
          br
          | for Children, Teens, and Adults.
        a.request-button-rk Request Free Evaluation
      .col6
  .our-orthodontic-section
    .container
      .col4
        .col4-box
          h5 Our Orthodontic Office
          p
            | Our orthodontist office offers a variety of treatments including early stage treatment, braces, Invisalign, retention and more.
          a.read-more-button(href='#') Read More
      .col4
        .col4-box
          h5 Meet the Orthodontist
          p
            | Dr. Aaron Rondon has been providing orthodontic care to his patients since 2002. He received his Bachelor of Science.
          a.read-more-button(href='#') Read More
      .col4
        .col4-box
          h5 Before and After
          p
            | It&rsquo;s amazing to see the smile transformations of our patients after braces or Invisalign. See some of our patient&rsquo;s before and after photos.
          a.read-more-button(href='#') Read More
  .check-out-section
    .container
      .col12
        h2 Check out our new Stockton office!
        .iframe-embed
          iframe(src='https://www.youtube.com/embed/kXK-KSdLLjY?rel=0&showinfo=0?wmode=transparent' allowfullscreen='allowfullscreen' style='opacity: 1; visibility: visible;' width='100%' height='410' frameborder='0')
  .welcome-orthodontics-section
    .container
      .col8
        h3 Welcome to Rondon Orthodontics
        p
          | We proudly serve the residents of Stockton and Modesto, California with the highest standard of orthodontic care available. Dr. Aaron Rondon and our high experienced team of professionals work together to help our patients achieve and maintain a beautiful, straight smile that will last a lifetime. At our office, you are treated like family! We promise to work with you individually to create a personalized treatment plan to guarantee optimum results for your specific orthodontic needs.
        h5 Voted the 2016 best orthodontist in the 209!
      .col4
        img.img-responsive(src='http://centralvalleysmiles.rgwplogin.com/wp-content/uploads/2020/01/Best-Orthodontist.jpg')
  .yellow-section
    .container
      .col3
        p
          | Stockton Location
          br
          | 2431 W. March Lane Suite 100-A
          br
          | Stockton, CA 95207
          br
          | P: 209-473-8700
      .col3
        p
          | Modesto Location 
          br
          | 1700 McHenry Ave. 16B 
          br
          | Modesto, CA 95350 
          br
          | P: 209-238-9800 
          br
      .col6
        h2 Request an Appointment
        a.read-more-button.read-more-button-edit(href='#') Click Here
  .partenr-logo-section
    .container
      .col4
        img(src='http://centralvalleysmiles.rgwplogin.com/wp-content/uploads/2020/01/aao-logo.jpg')
      .col4
        img(src='http://centralvalleysmiles.rgwplogin.com/wp-content/uploads/2020/01/damon-logo.jpg')
      .col4
        img(src='http://centralvalleysmiles.rgwplogin.com/wp-content/uploads/2020/01/invisalign-logo.jpg')
  .welcome-orthodontics-section.welcome-orthodontics-section-edit
    .container
      .col8
        h5 Collect Rondon Rewards and Earn Gift Cards!
        p
          | Collect Rondon Rewards for taking great care of your teeth and braces, being on time for your appointment, keeping up with regular dental visits, referring friends to our office, and more. When it&rsquo;s time to redeem your points, choose from hundreds of gift cards like Amazon, Target, iTunes, Starbucks, and more.
        a.read-more-button.read-more-button-edit.read-button-edit2(href='#') Click Here
      .col4
        img.img-responsive(src='http://centralvalleysmiles.rgwplogin.com/wp-content/uploads/2020/01/Rewards.png')
  Footer
      
